<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Messages</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="{% static 'main.js' %}"></script>
</head>

<body>
    <div>
        {% for item in conversations %}
        <a href="/admin/subscriptions/message/{{ item.user.email }}">
            {{ item.user.email }}
        </a>
        {% endfor %}
       </div>
</body>

</html>