<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Messages</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="{% static 'main.js' %}"></script>
</head>

<body>
    <div>
        {% if admin %}
        {% for item in messages %}
        {% if item.fromAdmin %}
        <h1 align="right">{{ item.message }}</h1>
        {% else %}
        <h1 align="left">{{ item.message }}</h1>
        {% endif %}
        {% endfor %}
        <form action="sendMessageFromAdmin" method="post">
            {% csrf_token %}
            <input hidden="true" name="userEmail" value="{{ user.email }}">
            <input type="text" name="message">
            <input type="submit">
        </form>

        {% else %}
        {% for item in messages %}
        {% if item.fromAdmin %}
        <h1 align="left">{{ item.message }}</h1>
        {% else %}
        <h1 align="right">{{ item.message }}</h1>
        {% endif %}
        {% endfor %}
        <form action="sendMessage" method="post">
            {% csrf_token %}
            <input type="text" name="message">
            <input type="submit">
        </form>
        {% endif%}

    </div>


</body>

</html>