{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style1.css' %}">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  <title>Document</title>


  <script>
    //scroll to the end of the page on load
    $(document).ready(function () {
      $('html, body').animate({
        scrollTop: $(document).height()
      }, 'fast');
    });
  </script>
</head>

<body>
  {% block content %}


  <!-- <header class="page-header">
    <div class="container ">
      <h2>IM World News</h2>
    </div>
  </header> -->
  <div class="main" onload="scroll()">
    <div class="container" id="display">
      <div class="chat-log" id="chatLog">
        {% if user.is_superuser %}
        {% for item in messages %}
        {% if item.fromAdmin %}
        <div class="chat-log__item chat-log__item--own">
          <div class="chat-log__message">{{ item.message }}</div>
        </div>
        {% else %}
        <div class="chat-log__item">
          <div class="chat-log__message">{{ item.message }}</div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        {% for item in messages %}
        {% if item.fromAdmin %}
        <div class="chat-log__item">
          <div class="chat-log__message">{{ item.message }}</div>
        </div>
        {% else %}
        <div class="chat-log__item chat-log__item--own">
          <div class="chat-log__message">{{ item.message }}</div>
        </div>

        {% endif %}
        {% endfor %}
        {% endif %}

      </div>
    </div>
  </div>
  <div class="chat-form">
    <div class="container ">

      {% if user.is_superuser %}
      <form method="post"  enctype="multipart/form-data" id="adminMessageForm">
        {% csrf_token %}
        <div class="row">
          <div class="col-sm-10 col-xs-8">
            <input type="text" class="form-control" id="adminMessage" name="message" placeholder="Message" />
          </div>
          <div class="col-sm-2 col-xs-4">
            <button type="submit" class="btn btn-success btn-block">Send</button>
          </div>
      </form>
      {% else %}
      <form method="post" enctype="multipart/form-data" id="userMessageForm">
        {% csrf_token %}
        <input hidden="true" name="userEmail" value="{{ user.email }}">
        <div class="row">
          <div class="col-sm-10 col-xs-8">
            <input type="text" class="form-control" id="userMessage" name="message" placeholder="Message" />
          </div>
          <div class="col-sm-2 col-xs-4">
            <button type="submit" class="btn btn-success btn-block">Send</button>
          </div>
      </form>
      {% endif %}

    </div>
    </form>
  </div>
  </div>
  </div>
  {% endblock %}

</body>




{% if user.is_superuser %}
<script>
  // Sending message from admin
  $(document).on('submit', '#adminMessageForm', function (e) {
    console.log("YES");
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '',
      data:
      {
        message: $("#adminMessage").val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      },
      success: function (response) {
        if (response.messages.length > 0) {
            var html = '<div class="chat-log__item chat-log__item--own">' + '<div class="chat-log__message">' + response.messages + '</div>' + '</div>';
            $('#chatLog').append(html);
            document.getElementById('adminMessage').innerHTML = "";
            $(document).ready(function () {
              $('html, body').animate({
                scrollTop: $(document).height()
              }, 'fast');
            });
        }
      }
    })
  });


  $(document).ready(function () {
    setInterval(function () {
      $.ajax({
        type: 'GET',
        url: "getMessages",
        success: function (response) {
          if (response.messages.length > 0) {
            console.log(response.messages)
            //pass response.messages to html
            for (var i = 0; i < response.messages.length; i++) {
              var message = response.messages[i];
              var html = '<div class="chat-log__item">' + '<div class="chat-log__message">' + message.message + '</div>' + '</div>';
              $('#chatLog').append(html);
              $(document).ready(function () {
                $('html, body').animate({
                  scrollTop: $(document).height()
                }, 'fast');
              });
            }
          }
        },

      });
    }, 1000);
  })
</script>
{% else %}
<script>
  //Sending messages from user
  $(document).on('submit', '#userMessageForm', function (e) {
    console.log("YES");
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: 'message',
      data:
      {
        message: $("#userMessage").val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()

      },
      success: function (response) {
        if (response.messages.length > 0) {
            var html = '<div class="chat-log__item chat-log__item--own">' + '<div class="chat-log__message">' + response.messages + '</div>' + '</div>';
            $('#chatLog').append(html);
            document.getElementById('userMessage').innerHTML = "";
            $(document).ready(function () {
              $('html, body').animate({
                scrollTop: $(document).height()
              }, 'fast');
            });
        }
      }
    })
  });

  
  $(document).ready(function () {
    setInterval(function () {
      $.ajax({
        type: 'GET',
        url: "/getMessage",
        success: function (response) {
          if (response.messages.length > 0) {
            console.log(response.messages)
            for (var i = 0; i < response.messages.length; i++) {
              var message = response.messages[i];
              var html = '<div class="chat-log__item">' + '<div class="chat-log__message">' + message.message + '</div>' + '</div>';
              $('#chatLog').append(html);
              $(document).ready(function () {
                $('html, body').animate({
                  scrollTop: $(document).height()
                }, 'fast');
              });
            }
          }
        },
      });
    }, 5000);
  })
</script>
{% endif %}

</html>